<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_PUBLISHABLE_API_KEY</key>
	<string>sb_publishable_IXjgeyMUyJiZQ2KAUjJdQA_Dz-xXY3w</string>
	<key>SUPABASE_URL</key>
	<string>https://xxdircqfgorkyiccuvwu.supabase.co</string>
</dict>
</plist>
